{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Parolni tiklash</h2>
    <p>Quyidagi maydonga emailingizni kiriting va biz sizga tiklash havolasini yuboramiz.</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Email manzilingiz</label>
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Yuborish</button>
    </form>
</div>
{% endblock %}
